<!DOCTYPE html>
<head>
<link rel="stylesheet" href="style.css">

<div class="CABECERA">
	<header> 
		<h1>Carrito Usuario</h1>
	</header>
		<input type="button" value="LOG IN" id="BotonLogIn">
	
	
</div>

</head>


<div class= "Contenido">
	<div class= "MenuLateral"> 
		<a href="#">Home</a>	 
  		<a href="#">LogIn</a>
  		<a href="#">Registrarse</a>
  		<a href="#"class="active">Carrito Usuario</a>
  		<a href="#">Link 5</a>
	</div>


	
	<div class= "CUERPO">
		<div class = "CONTAINER_CARRITO">
		<table class = "tabla">
			<tr>
				<th>Pelicula</th>
				<th>Precio</th>
			</tr>
			<br>
			</br>
			<br>
			</br>
			<tr>
				<td>
					<a href="http://www.tutorialehtml.com/" title="HTML link image example">
						<img alt="imagen html de ejemplo" src="https://tutorialehtml.com/assets_tutorials/img/image.jpg" width="300" height="150" />
					</a>
					<br>
					Nombre Pelicula1
					</br>
				</td>
				<td>Precio1</td>
			</tr>
		</table>
		<p>Saldo Restante:   </p>
		</div>
		
	</div>

</div>


<footer> Contacto </footer>