<!DOCTYPE html>
<head>
<link rel="stylesheet" href="style.css">


<div class="CABECERA">
	<header> 
		<h1>Entrada Principal</h1>
	</header>
		<input type="button" value="LOG IN" id="BotonLogIn">
	
	
</div>

</head>


<div class= "Contenido">
	<div class= "MenuLateral"> 
		<a href="#" class="active">Home</a>	 
  		<a href="#">LogIn</a>
  		<a href="#">Link 2</a>
  		<a href="#">Link 3</a>
  		<a href="#">Link 4</a>
	</div>


	
	<div class= "CUERPO">
		<div class= "CONTAINER_CATALOGO">
			<ul>
				<li>
					<a href="#">Star Wars</a>
					<img src="starwars.jpeg">
					
				</li>
				<br></br><br></br><br></br><br></br>
				<li>
					<a href="#">Star Wars</a>
					<img src="starwars.jpeg">
				</li>
			</ul>	

			
		</div>
		
	</div>

</div>


<footer> Contacto </footer>



