<!DOCTYPE html>
<head>
<link rel="stylesheet" href="style.css">


<div class="CABECERA">
	<header> 
		<h1> LOG IN  </h1>
	</header>
		<input type="button" value="Registrarse" id="BotonRegistro">
	
	
</div>

</head>

<div class= "Contenido">
	<div class= "MenuLateral"> 
		<a href="#">Home</a>	 
  		<a href="#" class="active">LogIn</a>
  		<a href="#">Link 2</a>
  		<a href="#">Link 3</a>
  		<a href="#">Link 4</a>
	</div>


	
	<div class= "CUERPO">
		<fieldset>
			<legend>Log In</legend>
  			<label for="usNombre">Usuario:   </label>
  			<input type="text" id="usNombre" name="usNombre"><br><br>
			<label for="usContraseña">Contraseña:</label>
			<input type="password" id= "usContraseña" name="usContraseña"><br><br>
			<input type="button"  value="Entrar" id= "Entrar" name= "Entrar"><br><br>
		</fieldset>
	</div>

</div>


<footer> Contacto </footer>



