<!DOCTYPE html>
<head>
<link rel="stylesheet" href="style.css">


<div class="CABECERA">
	<header> 
		<h1> Registro </h1>
	</header>		
</div>
</head>

<div class= "Contenido">
	<div class= "MenuLateral"> 
		<a href="#">Home</a>	 
  		<a href="#">LogIn</a>
  		<a href="#" class="active">Registrarse</a>
  		<a href="#">Historial Usuario</a>
  		<a href="#">Link 4</a>
	</div>


	
	<div class= "CUERPO">
		<fieldset>
			<legend>Registrarse</legend>
  			<label for="usNombre">Nombre:</label>
  			<input type="text" id="usNombre" name="usNombre"><br><br>
			<label for="usContraseña">Contraseña:</label>
			<input type="password" id= "usContraseña" name="usContraseña"><br><br>
            <label for="usEmail">Email:</label>
			<input type="email" id= "usEmail" name="usEmail"><br><br>
            <label for="usTarjetaCredito">TarjetaCredito:</label>
			<input type="text" id= "usTarjetaCredito" name="usTarjetaCredito"><br><br>
			<input type="button"  value="Confirmar" id= "Confirmar" name= "Confirmar"><br><br>
		</fieldset>
	</div>

</div>


<footer> Contacto </footer>